python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langchain-google-genai
langchain-openai
langchain-anthropic
langchain-ollama
tavily-python
duckduckgo-search
langchain-huggingface
langchain-chroma
langchain-text-splitters
langgraph
chromadb
pypdf
sentence-transformers
streamlit
fastmcp
requests
pandas

django
djangorestframework
django-cors-headers
gunicorn
whitenoise

# Development / Testing
pytest
pytest-django
